.ptz-character-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 75%;
  border: 1px solid $color-grey;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  @media (min-width: 495px) {
    width: 45%;
  }
  @include breakpoint-min('sm') {
    width: 27%;
  }
  @include breakpoint-min('md') {
    width: 23%;
  }
  @include breakpoint-min('lg') {
    width: 17%;
  }
  @include breakpoint-min('xl') {
    width: 15%;
  }
  @include breakpoint-min('xxl') {
    width: 13%;
  }
  &__img-container {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color-blue, 0.3);
    position: relative;
  }
  &__img {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }
  &__info-container {
    min-height: 170px;
    max-width: 100%;
    padding: 7px;
  }
  &__info {
    font-size: 0.9rem;
    margin: 0 0 0.22rem 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__info--title {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
  }
}
