.ptz-character-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 45%;
  border: 1px solid $color-grey;
  border-radius: 8px;
  margin: 10px 0;
  overflow: hidden;
  @include respond-to("sm") {
    width: 27%;
  }
  @include respond-to("md") {
    width: 23%;
  }
  @include respond-to("lg") {
    width: 17%;
  }
  @include respond-to("xl") {
    width: 15%;
  }
  @include respond-to("xxl") {
    width: 13%;
  }
  &__img-container {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color-blue, 0.3);
    .ptz-img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
  }
  &__info-container {
    min-height: 170px;
    max-width: 100%;
    padding: 7px;
  }
  &__info {
    font-size: 0.9rem;
    margin: 0 0 0.22rem 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__info--title {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
  }
}
